header{
    background-image: url("../img/pattern.png") ;
    background-repeat: repeat-x;
    background-color: #6495ED;
    background-attachment: fixed;
    background-size: 35%;
}

#logo {
    width: 15%; 
    padding-top: 50px;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

#autor {
    color: #20a9e5;
}

#date {
    font-size: small;
    color: gray;
}

section > div {
    padding-bottom: 2%;
}

figcaption {
    font-size: 10px;
}